.right-component-wrapper {
  padding: 10px 20px;
}

.right-side-view-wrapper {
  position: relative;
}

.select-searchbar-wrapper {
  display: flex;
  align-items: center;
}

.scrollable-section {
  height: 100%;
  overflow: auto;
}
